@model IEnumerable<transport.Models.teacher>

@{
    ViewData["Title"] = "Index";
}

<h1>قائمة الطلبات</h1>

<p>
    <a asp-action="Create" class="text-decoration-none btn btn-primary mt-1">ادخال رغبة جديدة</a>
</p>
<table class="table">
    
</table>
